<%= form_for @user do |form| %>
  <div>
    <%= form.file_field :avatar %>
  </div>
  <br>
  <div>
    <%= form.text_area :biography %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>


