<h2>
  Your Reservation for <%= @reservation.listing.title %>
</h2>

<p>
  <em>
    <%= @reservation.date.to_formatted_s(:long_ordinal) %>
  </em>
</p>

<p>
 <%= link_to "Go to Listing", @reservation.listing %>
</p>
